## Perbaiki Relasi Data

Masalahnya ada pada data respon yang tidak memiliki relasi

### Petunjuk

Hanya ada pada urutan ID Auto Incement
dan tanggal (DATE)

### Solusi

dengan mengandalkan urutan id dan tanggal diharapkan dapat menentukan hubungan antara data

### Step 1
Memastikan ```Item1.id >= Item2.id && Item1.tanggal == Item2.tanggal```

In [4]:
import pandas as pd
# load respondents
respondents = pd.read_csv("assets/respondents.csv")
respondents

      id        date  gender education  job         type  category_id
0     60  2023-02-28       1        SD  NaN  Rawat Jalan          154
1     61  2023-02-28       1       SMP  NaN  Rawat Jalan          154
2     62  2023-02-28       1       SMA  NaN  Rawat Jalan          154
3     63  2023-02-28       1       SMP  NaN  Rawat Jalan          154
4     64  2023-03-01       1       SMP  NaN  Rawat Jalan          154
..   ...         ...     ...       ...  ...          ...          ...
209  269  2024-03-01       1        D3  NaN  Rawat Jalan          154
210  270  2024-09-08       1        S3  NaN   Rawat Inap          154
211  271  2024-09-09       1        SD  NaN  Rawat Jalan          154
212  272  2024-09-12       1       SMP  NaN  Rawat Jalan          154
213  273  2024-09-14       1        SD  NaN  Rawat Jalan          154

[214 rows x 7 columns]